extends layout 

block content 
  h1=title 
  form(action="/log-in", method="post")
  div.form-group
    label(for="username") Username: 
    input#username.form-control(type="text")
  div.form-group
    label(for="password") Password: 
    input#password.form-control(type="pasword")
  button.btn.btn-primary(type="submit") Log-In