extends layout

block content
  h1=title
  if user
    form(action="", method="post")
      div.form-group
        label(for="msg_title") Title: 
        input#title.form-control(type="text" placeholder="Title" name="msg_title")
      div.form-group
        label(for="msg_text") Text: 
        input#text.form-control(type="text" placeholder="Text" name="msg_text")
      button.btn.btn-primary(type="submit") Post
    if errors
      ul
        for error in errors
          li!= error.msg
  else
    span Please 
    a(href="/log-in") log-in 
    span or 
    a(href="/sign-up") sign-up 
    span to post!