extends layout

block content
  h1=title
  form(action="/sign-up", method="post")
    div.form-group
      label(for="first_name") First Name: 
      input#first-name.form-control(type="text" name="first_name" value=(undefined===first_name ? "" : first_name))
    div.form-group
      label(for="last_name") Last Name:
      input#last-name.form-control(type="text" name="last_name" value=(undefined===last_name ? "" : last_name))
    div.form-group
      label(for="username") Username:
      input#username.form-control(type="text" name="username" value=(undefined===username ? "" : username))
    div.form-group
      label(for="password") Password:
      input#password.form-control(type="password" name="password")
    div.form-group
      label(for="confirm_password") Confirm Password:
      input#confirm-password.form-control(type="password" name="confirm_password")
    button.btn.btn-primary(type="submit") Submit
  
  if errors 
    for error in errors 
      li!= error.msg
      